@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
#style-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#ing_selectTag{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-size: 16px;
    height: 14px;
    width: 190px;
    font-style: normal;
}
#Quick{
    position: relative;
    width: 100%;
    z-index: 5;
    height: 39px;
    border-radius: 8px;
    font-family: "paybooc-Light", sans-serif;

    color: #1e6b7b;
    border: none;
    margin-top: 3%;
    font-size: 14px;
    border: solid 1px;

}

.textAreass{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-size: 14px;
    height: 14px;
    width: 190px;
    font-style: normal;

}
#ing_deaLine2 {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-size: 16px;
    height: 14px;
    width: 190px;
}
.allDiv{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 90%;
    place-content: flex-start;

}
.selectSpanBig:hover{
    color : red;
}
.spanListBigTag{
    position: relative;
    cursor: pointer;
    top: -4%;
    text-align: left;
    margin-left: 4%;
    font-family: "GoryeongStrawberry";
}
.selectSpanBig{
    margin-right: 1%;
}
img{

}
.ing_btnList{
    margin-left: 5%;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}
.spanCursor{
    cursor : pointer;
}
.ingli{
    cursor : pointer;
}
.ref_btn {
    background: none;
    border: none;
    border-radius: 55%;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
h2 { padding:20px 0; }
body {  }

.di_btn{

    margin: 5px 10px;

}

#overlay { width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0; left:0;
    z-index:1;
    visibility:hidden;
    opacity:0;
    transition:all 0.5s ease;
}

#overlay2{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0; left:0;
    z-index:1;
    visibility:hidden;
    opacity:0;
    transition:all 0.5s ease;
    z-index:3;
}
#overlay3{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0; left:0;
    z-index:1;
    visibility:hidden;
    opacity:0;
    transition:all 0.5s ease;
    z-index:3;
}
#overlay4{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:0; left:0;
    z-index:1;
    visibility:hidden;
    opacity:0;
    transition:all 0.5s ease;
    z-index:3;
}
.modal { width:30%;
    background:white;
    z-index:2;
    border-radius: 23px;
    position: inherit;
    height: 80%;
    top: 5%;
    left: 65%;
    overflow: hidden;
}
.inputsingre{
    top: -5%;
    position: relative;
    display: block;
    background: white;
}


.modal2 {

    z-index: 3;
    position: inherit;
    top: 25%;
    width: 32%;
    left: 33%;
    border-radius: 21px;
    background: #c3c3c3;
}
.modal_content2{
    width: 100%;
    background: #fefefe;
    border: 1px solid #888;
    box-sizing: border-box;
    height: 200px;
    display: block;
    position: relative;
    height: 20em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}




.modal4{
    background: #c3c3c3;
    border-radius: 17px;
    z-index: 3;
    position: inherit;
    top: 25%;
    width: 35%;
    left: 31.5%;
}
.ing_content4{
    overflow-y: scroll;
    height: 250px;
}
.modal_content4{
    width: 100%;
    background: #fefefe;
    border: 1px solid #888;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 20em;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 17px;
    padding: 17px 0px 0px 0px;
    text-align: left;
    padding: 17px 0px 0px 0px;
    text-align: left;
}
.di_btn{
    display: inline-block;
}
.modal_content2 input{
    width: 30%;
    height: 50%;
    display: inline-block;
    text-align: center;
    margin-top: 2%;
    position: relative;
}
.modal_content3{

    width: 100%;
    background: #fefefe;
    border: 1px solid #888;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.modal3 {
    background: #c3c3c3;
    z-index: 3;
    position: inherit;
    top: 2%;
    width: 71%;
    left: 15%;
    height: 77%;
    border-radius: 60px;
}
.textfamily{
    font-family: 'TTWanjudaedunsancheB';
}
.Ing_saveIng{
    width: 34%;
    height: 15%;

    display: inline-block;

    position: relative;
    margin: 4% 0%   0% 27%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-size: 16px;
    font-style: normal;
}
.modal_header2 { width:100%; position:relative; }
.modal_header2 h3 {

    color:#333;
    top: -16%;
    padding: 1% 0%;
    position: relative;}
.modal_header3 { width:100%; position:relative; }
.modal_header3 h3 {     width: 100%;
    position: relative;
    top: -4%;
    font-family: 'TTWanjudaedunsancheB';
    /* top: 19%; */
    /* margin: -1px 0px; */
    height: 12%;
    font-size: 34px;
}
.modal_header {
    width:100%;
    position:relative;
    background: #c3c3c3;
    top: -4%;
}
.modal_header h3{
    padding: 27px 0 23px 0;
    color: #333;
    font-size: 34px;
    margin: 25px 0px;
    font-family: 'TTWanjudaedunsancheB';
}

.modal_content {
    height: 66%;
    background: #fefefe;
    box-sizing: border-box;
    position: relative;
    top: -3%;
    padding: 0% 3%;
}
. {
    display: grid;
    row-gap: 2%;
    column-gap: 2%;
    padding: 2%;
}
.selectTag {
    top: 3%;
    position: relative;
}


.close {     position: absolute;
    top: 1px;
    left: 92%;
    margin-left: 0%;
    font-size: 38px;
    color: #aaa;
    font-weight: bold;
}
.close:hover, .close:focus {
    color:#000;
    cursor:pointer;
}
.close2 { position:absolute;
    color:#aaa;
    font-weight:bold;
    top: -24px;
    right: 15px;
    font-size: 37px;
}
.close2:hover, .close2:focus {
    color:#000;
    cursor:pointer;
}
.close4 { position:absolute;
    top:10px; right:20px;
    font-size:28px;
    color:#aaa;
    font-weight:bold;   }
.close4:hover, .close4:focus {
    color:#000;
    cursor:pointer;
}

.close3 { position: absolute;
    top: -38px;
    right: 34px;
    font-size: 28px;
    color: #aaa;
    font-weight: bold;
    font-size: 50px;
}
.close3:hover, .close3:focus {
    color:#000;
    cursor:pointer;
}
.ingSpan{
    font-family: 'TTWanjudaedunsancheB';
    position: relative;

}

@keyframes blink-effect {
    0%{
        background-color: red;
    }
    50%{
        background-color: white;
    }
}

.blink{
    animation : blink-effect 1s step-end infinite;


}
.smallTag_placestr{
    top: 6%;
    position: relative;
    max-height: 360px;
    overflow-y: auto;
    width: 83%;
    margin-left: 20px;
}
.Ing_delete{
    display:inline;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    font-size: 16px;
    margin-left: 12px;
    font-style: normal;
}
.ing_inserting{
    margin-right: 3%;
    position: fixed;
    top: 77.5%;
    width: 9%;
    right: 3%;
    z-index: 5;
    height: 5%;
    border-radius: 8px;
    font-family: 'TTWanjudaedunsancheB';
    color: #1e6b7b;
    border: solid 1px;
    text-decoration: none;
    font-size: 15px;
}
.detailSave{

    position: relative;
    top: 77.5%;
    width: 9%;
    right: -48%;
    z-index: 5;
    height: 34px;
    border-radius: 8px;
    font-family: 'TTWanjudaedunsancheB';
    color: #184c57;
    border: solid 1px;
    text-decoration: none;
    font-size: 17px;

}
.ing_selectAll{
    float: left;
    margin-left: 3%;
    position: relative;
    padding: 4px 15px 6px;
    line-height: 1;
    color: #4f4f4f;
    background: #eee;
    border-radius: 14px;
    font-size: 14px;
    border: none;
    height: 29px;
    font-family: 'TTWanjudaedunsancheB';
}
.ing_selectAll:hover{
    color: red;
}

.Ing_deleteIng{
    float: left;
    margin-left: 1%;
    position: relative;

    padding: 4px 15px 4px;
    line-height: 1;
    color: #4f4f4f;
    background: #eee;
    border-radius: 14px;
    font-size: 14px;
    border: none;
    height: 29px;
    font-family: 'TTWanjudaedunsancheB';
}
.ing_listDetail{

    float: right;

    position: relative;
    margin-right: 3%;
    font-family: 'TTWanjudaedunsancheB';
    padding: 4px 15px 6px;
    line-height: 1;
    color: #4f4f4f;
    background: #eee;
    border-radius: 14px;
    font-size: 14px;
    border: none;
    height: 29px;
}
.inputsingre::after{
    content: '';
    display: block;
    clear: both;
}
.ing_sel2{
    border:1px solid black;

    height: 100%;
    border-radius: 19px;
}
.spn{
    font-size: 10px;
    position: relative;
    top: -2%;
    left: -33%;
}
.ing_selectTag{
    left: 2%;
    width: 81%;
    height: 7%;
    top: 5%;
    position: relative;
    border-radius: 41px;
    padding: 0px 0px 0px 18px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}

.ing_selectStr{
    position: relative;
    top: 5%;
    display: flex;
    height: 300px;
    margin-top: 2%;
    left: -1%;
    width: 600px;
}
.finishVlog{
    text-align: left;
    display: block;
    margin-left: 37%;
}
.finishVideo{
    text-align: left;
    display: block;
    margin-left: 37%;
}
.Ing_mysel{
    position: relative;
    font-size: 13px;
    margin-right: 5%;
    margin-left: 3%;
    font-weight: bold;
}
.ing_div2{
    font-size: 14px;
    width: 67px;
    margin-right: 3%;
}
.ing_div3{
    display: flex;
    flex-grow: 1;
    visibility:hidden;
    opacity:0;
    width: 364px;
    left: 1%;
    position: relative;
}
.ing_sel3{
    height: 100%;
    margin: 11px 0px 0px 0px;
    padding: 0px 6px 0px 0px;
}
.ing_div4{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    flex-basis: 121%;
    overflow-y: auto;
    align-content: flex-start;
    height: 120%;
}
.click-btn{
    margin-bottom: 4%;
}
.refSle{
    width: 32%;
    left: 7%;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ccc;
    background: #fbfbfb;
    /* line-height: 1.42857143; */
    height: 18px;
    padding: 4px 0px 4px 12px;
    border-radius: 7px
}
.ing_spro{
    border: solid 1px #dadce0;
    padding: 0px 11px;
    height: 39px;
    border-radius: 8px;
    color: #2d2d2d;
    font-size: 14px;
    margin: 3px 2px;
}
.ing_click-btn{
    border-radius: 500px;
    border: solid 1px;
}
.ing_div42{
    top: 66.1%;
    left: 26%;
    position: fixed;
    text-align: left;
}
.inputDetail{
    position: relative;
    width: 31%;
    z-index: 5;
    height: 29px;
    border-radius: 8px;
    font-family: "paybooc-Light", sans-serif;
    color: #114753;
    font-size: 14px;
    border: solid 1px;
}
.ingListPlace{
    text-align: left;
}
.ing_Insertlist{
    position: fixed;
    width: 17%;
    left: 59%;
    z-index: 5;
    height: 39px;
    border-radius: 8px;
    font-family: "paybooc-Light", sans-serif;
    color: #1e6b7b;

    font-size: 14px;
    top: 79%;
    border: solid 1px;
}
